[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openexr = "*"
pillow = "*"
opencv-python = "*"
numpy = "*"
pyinstaller = "*"

[dev-packages]
pytest = "*"
cx-freeze = "*"

[scripts]
build="python setup.py build"

[requires]
python_version = "3.11"
