[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openexr = "*"
multiprocess = "*"
pillow = "*"
async-tkinter-loop = "*"
opencv-python = "*"
numpy = "*"
matplotlib = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.11"
