[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openexr = "*"
multiprocess = "*"
opencv-python = "*"
numpy = "*"
matplotlib = "*"
pytest = "*"
cupy-cuda12x = "*"
setuptools = "*"
numba = "*"
cuda-python = "*"

[dev-packages]

[requires]
python_version = "3.11"
